body {
    background-color: burlywood;
}
.section1 {
     background: linear-gradient(to right, #154a79, #4091cc);
    color: white;
    padding: 20px;

}
.section2 {
    background-color: #5e76a1;
    color: black;
    padding: 20px;
}