
h1, h2 {
    color: white;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    color: white;
}

.section1 {
    background-image: linear-gradient(to right, #0b3860, #344b9b);
    padding: 20px;
    text-align: center;
}

.section1 img {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #bcc2cb;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.section2 {
    background-color: #226285;
    padding: 20px;
    text-align: center;
    height: 400px;
}

.section2 .card-text {
    margin-bottom: 10px;
    font-size: 18px;
    color: #062262;
}

.section3 {
    background-color: #136be1;
    padding: 20px;
    text-align: center;
}

.section3 p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ccd2e0;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #1a3f68;
    padding: 20px;
    color: white;
    text-align: center;

}